.home1-body
{  width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
   margin-bottom: 0px;
   /* margin-top: -70px; */
  
 color: white;
background-image: url("https://firebasestorage.googleapis.com/v0/b/loftydreams-307f2.appspot.com/o/React-Images%2FUntitled%20design.svg?alt=media&token=b6819912-f6fa-4f94-8bc3-303a81382c63");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: auto ;
  padding: 40px;
}
.home1-right img
{
    object-fit: contain;
    

}
.home1-left
{
width: 30%;

/* margin-top: -46%; */

  padding-bottom: 40px;
}
.home1-right
{
    /* margin-top: -46%; */
  
}
.home1-heading
{  
   
    font-size: 22px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.home1-p
{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 34px;
    text-align: left;
    font-weight: 400;

}
@media (max-width:815px)
{
   .home1-body
   {
       margin-top: 0px;
   }
    .home1-left
    {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
      

    }
    .home1-p
    {
        padding:0px;
    }
    .home1-right img 
    {
        padding-top: 0px;
    }
    .home1-banner
    {
        height: 600px;
        object-fit: cover;
    }
    .home1-right
    {
      
    }
}