.home1-body
{  width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
   margin-bottom: 50px;
   margin-top: 40px;
   padding-right: 30px;
   padding-left: 30px;
}
.home1-right img
{
    object-fit: contain;
    padding-top: 26px;
}
.home1-left
{
width: 30%;

  padding-bottom: 40px;
}
.home1-right
{
  
}
.home1-heading
{  
   
    font-size: 22px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.home1-p
{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 34px;
    text-align: left;
}
@media (max-width:600px)
{
   .home1-body
   {
       margin-top: 30px;
   }
    .home1-left
    {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;

    }
    .home1-p
    {
        padding:0px;
    }
    .home1-right img 
    {
        padding-top: 0px;
    }
}