.owl-carousel
{
 
}
.card-collection
{
 display: flex;
 flex-wrap: wrap;
width: 100%;
 justify-content: space-around;
 transition-duration: 5s;

text-align: center;
}
.card-collection-heading
{
 
  margin-bottom: 10px;
  width: 100%;


}
.card-collection-h2
{

  width: 100%;
  font-family: "Mr Eaves XL Modern", sans-serif;

}

.card-collection-hr
{
  max-width: 100%;
  margin-top: -10px;


}


@media (max-width:500px)
{
  .card-collection-h2
  {
    font-size: 17px;
    font-weight: 600;
  }
}
@media(min-width:1300px){
  .card-collection
  {
    padding-left: 5%;
    padding-right: 5%;
  }
  .card-collection-h2
  {
    font-size: 21px;
    font-weight: 600;
  }
  
}